{% extends 'layout.html'%}

{% block body %}
<div class="container animate__animated ">
    <div class="row align-items-start estilo_cont_videos">
        <h1>Videos de reformas modernas</h1>
        <br>
        <br>
        <div class="col ">
            <iframe
                width="560"
                class="video_estilos"
                height="315"
                src="https://www.youtube.com/embed/kd7jivUveOA"
                title="YouTube video player"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen
            ></iframe>
        </div>
        <div class="col ">
            <iframe
                width="560"
                class="video_estilos"
                height="315"
                src="https://www.youtube.com/embed/BdO-M_jQVE8"
                title="YouTube video player"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen
            ></iframe>
        </div>
        <div class="col ">
            <iframe
                width="560"
                class="video_estilos"
                height="315"
                src="https://www.youtube.com/embed/7WsmKbkmPWU"
                title="YouTube video player"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen
            ></iframe>
        </div>
        <div class="col ">
            <iframe
                width="560"
                class="video_estilos"
                height="315"
                src="https://www.youtube.com/embed/lxg9dV2AFlA"
                title="YouTube video player"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen
            ></iframe>
        </div>
    </div>
</div>
<br>
<br>
<br>
<br>
{% endblock %}
